.section {
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    p {
        margin: 0;
    }
    .navigate{
        cursor: pointer;
    }
}

/* PC */
@media (min-width: 991px) {
    .section {
        min-height: 15rem;
        
    }
}

/* Tablet */
@media (max-width: 991px) {
    .section {
        min-height:10rem;
    }
}

/* Mobile */
@media (max-width: 767px) {
    .section {
        min-height: 5rem;
    }
}